body {
  margin: auto;
  background-image: url('./Assets/images/books.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: whitesmoke;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-footer{
  height: 300px;
  color: whitesmoke;
  font-size: 30px;
  text-align: center;
}